* {
	margin-right: 0;
	padding: 0;
}

/*menu bar*/
.menucolor {
	background-color: #343A40;
}
.dropdown_my  {
	padding:10px;
}
.about a {
	color: white;
}

.about:hover a {
	text-decoration: none;
	color: white;
}
.sign {
	margin-left: 100px;
}

.khai span {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	color: #FF9800;
}
.khai a {
	color: white;
	text-decoration: none;
}



/*img*/
.photo {
	width: 100%;
	position: relative;
	overflow: hidden;

}
.full{
	background-color: #C9C8CD;

}
.sea {
	position: absolute;
	transition: 1s;
	top: 110%;
	left: 400px;
	
}
.photo:hover .sea {
	top: 300px;
}

.small {
	width: 500px;
}
.search {
	position: absolute;
	transition: 1s;
	left: 110%;
	bottom: 50px;
	}
	.photo:hover .search {
	left: 300px;
}
.go {
	position: absolute;
	color: black;
	bottom: 300px;
	right: 500px;
}

/*couple*/
.c {

	border-color: black;
}
.con {
	height: 60px;
	width: 60px;
	
	text-align: center;
	display: inline-block;
	max-width:100%;
	border-radius: 100%;
	
	background-color: #90B101;
}
.con a {
	color: white;
	text-decoration:none;
	text-align: center;
	font-size: 35px;

}
.con:hover {
	background-color: #8A8A88;
}

img {
	display: inline-block;
	max-width:100%;
	margin-top: 5px;

}
/*last topic*/
.hr {
border-color: white;
width: 500px;
}
.h {
	color: white;
	text-align: center;
	font-size: 15px;
}
.color {
	background-color: #23272B;
}
.col-md-6 h5 {
	color: white;
	text-align: center;
	margin-top: 10px;
}

/*hover box2*/
.main_box {
	position: relative;
	width: 160px;
	height: 200px;
	overflow: hidden;
	border-bottom-right-radius: 50%;
	

}

.hover_box {
	width: 160px;
	height: 200px;
	position: absolute;
	bottom: 110%;
	transition: 1s;

}
.main_box:hover .hover_box {
	bottom: 0px;
}
.hover_box h3 {
	color: white;
	text-align: center;
}
.hover_box  {
	color: white;
	text-align: center;
}



/*sign in*/

.signin {
	width: 100%;
	height: 520px;
	
	position: relative;
}
.singnin2 {
	width: 50%;
	height: 50%;
	background-color: white;
	position: absolute;
	left: 25%;
	top: 160px;

}
.form {
	width: 50%;
	position: absolute;
	left:30%;
}
.text {
	width: 200px;
	height: 50px;
	
	position: absolute;
	top: 50px;
	left: 45%;

}
.text2 {
	width: 25%;
	height: 50px;
	position: absolute;
	top: 90%;
	left: 40%;
	font-size: 15px;
}
.text2 a {
	color: #5FB709;
}
.text span {
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	color: #FF9800;
}
.text a {
	color: black;
	font-size: 30px;
	text-decoration: none;
}



/*Sign up */



.text3 {
	position: absolute;
	right: 0;
	top: 0;
}

.up {
	position: absolute;
	left: 40%;
	top: 20%;
}
.signin2 {
	position: absolute;
	bottom: 0;
	right: 40%;
}
.gender {
	position: absolute;
	left: 23%;
}
 .box10 {
 	margin-left: 30px;
 }
 .in {
 	position: absolute;
 	left: 25%;
 }


 /*Recipe----------*/


.navsposi {
	position: relative;
	
	overflow: hidden;

}
.navs {
	position: absolute;
	left: 30%;
	top: 0;
	left: 110%;
	transition: 1s;

}
.navsposi:hover .navs {
	left: 80px;
}
.mp:hover {
	color: white;
}
.mp {
	color: white;
}



/* Recipe---*/

.diti {
	margin-left: 40%;
}

/*dielivery------*/

.imgs {
	position: relative;
	overflow: hidden;
	


}
.boximg {
	position: absolute;
	top: 110%;
	left: 30%;
	transition: 1s;
}
.imgs:hover .boximg {
	top: 45%;
}
